@import url('https://fonts.googleapis.com/css?family=Catamaran|Open+Sans|Roboto|Dancing+Script');

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background: #303030;
}

#logo {
  height: 40px;
  width: 40px;
  padding-left: 35px; 
  padding-top: 5px;
  float:left;
  border-radius: 8px;
}

nav {
  position: absolute;
  width: 100%;
  height: 60px;
  background: linear-gradient(#444, #222);
  border-bottom: 1px solid #1b1b1b;
  box-shadow: inset 0 1px 0 rgba( 255, 255, 255, .15 ), 0 0 1.25em rgba( 0, 0, 0, .2 );
  z-index: 10;
}

#title{
  transition: 0.5s ease;
  margin: 0;
  padding: 0;
  letter-spacing: 2px;
  padding-top: 5px;
  padding-left: 45px;
  color: white;
  font-size: 2.5em;
  float: left;
  font-family: 'Dancing Script', cursive;
}

#title:hover{
  transition: color 0.4s ease;
  color: #00eca6;
}

.navlink {
  transition: 0.5s ease;
  padding: 5px;
  padding-top: 15px;
  padding-right: 20px;
  color: white;
  font-size: 1.3em;
  float: right;
}

.navlink a, .navlink a:link, .navlink a:visited, .navlink a:hover, .navlink a:active {
  transition: 0.5s ease;
  color: white;
  text-decoration: none;
  padding: 5px;
  letter-spacing: 1px;
  font-family: 'Catamaran', sans-serif;
  font-size: 15pt;
}

.navlink a:hover {
  color: #00eca6;
  transition: 0.5s ease;
}

.featherForm {
  height: 45px;
  width: 690px;
  margin-top:60px;
  padding: 0px;
  padding-top:15px;
  padding-left:15px;
  background-color: #222;
  border-bottom-right-radius: 20px;
  position: absolute;
  z-index: 1;
}

.featherForm label {
  display: inline-block;
  width: 70px;
  height: 30px;
  margin-left: 30px;
  font-size: 1.2em;
  float: left;
  color: white;vertical-align: middle;
  line-height: 30px;
  font-family: 'Catamaran', sans-serif;
}

.featherForm input[type=text] {
  float:left;
  height: 30px;
  border-radius: 5px;
  padding: 0px 10px;
  border: 1px;
}

.makeFeatherSubmit {
  transition: background-color 0.4s ease;
  width: 60px;
  height: 30px;
  display: inline;
  background-color: #55acee;
  border: 0;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  margin-left: 20px;
	font-size: 12pt;
  font-family: 'Catamaran', sans-serif;
}

.makeFeatherSubmit:link, .makeFeatherSubmit:visited, .makeFeatherSubmit:hover, .makeFeatherSubmit:active {
  color: white;
}

.makeFeatherSubmit:hover {
  transition: background-color 0.4s ease;
  background-color: #338acc;
  cursor: pointer;
}

#welcome{
  text-align: center;
  margin: 0 auto;
  width: 450px;
  padding-top: 250px;
  padding-bottom: 10px;
  font-size: 12pt;
  color: grey;
  font-family: 'Open Sans', sans-serif;
}

#signupButtons{
  text-align: center;
  width: 400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

#signupButtons a{
  text-decoration: none;
  font-size: 18pt;
  color: white;
  font-family: 'Arial', sans-serif;
  padding: 5px 0px;
}

#loginButton, #signupButton{
  width: 50%;
}

.selected{
  background-color: #00eca6;
  cursor: default;
}

.unselected{
  background-color: grey;
  cursor: pointer;
}

.mainForm {
  height: 300px;
  width: 400px;
  margin: 0 auto;
  padding-top: 40px;
  font-size: 1.2em;
  color: white;
}

.mainForm h3 {
  text-align: left;
  font-size: 14pt;
  font-family: 'Open Sans', sans-serif;
}

.mainForm input[type=text], .mainForm input[type=password]{
  width: 100%;
  margin-bottom: 15px;
  border: 1px;
}

.formSubmit {
  transition: background-color 0.4s ease;
  display: block;
  text-align: center;
  margin: 0 auto;
  margin-top: 14px;
  font-size: 1.2em;
  width: 100%;
  background-color: #55acee;
  border-radius: 5px;
  border: 0;
  padding: 3px 0px;
  color: white;
  text-decoration: none;
}

.formSubmit:link, .formSubmit:visited, .formSubmit:hover, .formSubmit:active {
  color: white;
}

.formSubmit:hover {
  transition: background-color 0.4s ease;
  background-color: #338acc;
}

#user, #pass, #pass2 {
  text-align: left;
  padding-left: 10px;
  font-size: 1.1em;
  border-radius: 5px;
  font-family: 'Catamaran', sans-serif;
}

#user:focus, #pass:focus, #pass2:focus {
  outline: none;
  box-shadow: 0px 0px 1px 1px #55acee;
}

#errorContainer{
  display:none;
  top: 250px;
  width: 250px;
  height: 650px;
  position: absolute;
  z-index: 200;
  right: 0px;
  overflow: hidden;
  padding-left: 200px;
}

#errorContainer h3 {
  width: 180px;
  position: absolute;
  top: 30px;
  left: 65px;
  z-index:105; 
}

#speech {
  height: 190px;
  width: 220px;
  z-index:100;
  position: relative;
  right: 160px;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

#errorMessage {
  font-size: 1.2em;
  font-weight: bold;
  color: darkblue;
  font-style: italic;
}

#errorImage {
  z-index: 225;
  margin-top: -140px;
  margin-left: 75px;
  height: 450px;
  width: 300px;
  -ms-transform: rotate(330deg);
  -webkit-transform: rotate(330deg); 
  transform: rotate(330deg);
}

#featherlist {
  width: 100%;
  margin-top: 10em;
  margin-bottom:2em;
  text-align: center;
  font-family: "Arial";
}

.feather {
  width:100%;
  max-width: 360px;
  margin: 1%;
  border: 1px solid #c0bfbf;
  border-radius: 4px;
  background-color: #f8f8f8;
  padding: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
  min-height:60px;
  overflow: hidden;
  display: inline-block;
  box-shadow: inset 0 1px 0 rgba( 255, 255, 255, .15 ), 0 0 1.25em rgba( 0, 0, 0, .9 );
}

img.featherFace {
  height: 40%;
  max-height: 300px;
  object-fit: cover;
  object-position: center;
  width: 100%;
}

h3.emptyFeather {
  width: 400px;
  font-size: 1.5em;
  margin: 0 auto;
  text-align: center;
  margin-top: 10em;
  font-family: "Arial";
  color: grey;
}

h3.featherName {
  float: left;
  width: 80%;
  margin-top: -5px;
  margin-bottom: 10px;
  font-weight: bold;
  text-align: left;
  font-size: 1.5em;
  font-family: 'Roboto', sans-serif;
}

#favImg {
  border: none;
  background-color: transparent;
  float: right;
  width: 35px;
  height: 30px;
  margin-top: -5px;
}

#favImg:hover{
  cursor: pointer;
}

.favorite{
  background: url(img/fav.png);
}

.unfavorite{
  background: url(img/unfav.png);
}

.colors ul li {
  flex: 1;
  padding: 0.5em;
  text-align: center;
  font-size: .8em;
}

.colors p {
  font-size: 1.1em;
  font-weight: 700;
  margin: 0;
}

.colors ul {
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
  margin-bottom: 0px;
}

#deleteForm{
  text-align: right;
  background-color: none;
  margin-bottom: 0;
}

.deleteFeatherSubmit{
  height: 30px;
  margin: 0;
  padding: 0;
  background: none;
  border: 0;
  color: grey;
  font-family: 'Roboto', sans-serif;
}

.deleteFeatherSubmit:hover{
  cursor: pointer;
}


#passwordContainer, #donateContainer{
  margin: 0 auto;
  width: 100%;
  max-width: 900px;
  display: flex;
  justify-content: space-between;
}

.passwordForm, #passwordInfo{
  height: 300px;
  width: 300px;
  padding-top: 200px;
  font-size: 1.2em;
}

#passwordInfo {
  width: 500px;
}

.passwordForm h3{
  text-align: left;
  width: 100%;
  color: white;letter-spacing: 2px;
  font-family: 'Roboto', sans-serif;
}

#passwordInfo p{
  text-align: left;
  width: 100%;
  color: grey;
  padding-top: 50px;
  font-family: 'Catamaran', sans-serif;
  font-size: 14pt;
}

.passwordSubmit {
  transition: background-color 0.4s ease;
  display: block;
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;
  font-size: 1.2em;
  width: 100%;
  background-color: #55acee;
  border-radius: 5px;
  border: 0;
  padding: 3px 0px;
  color: white;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
}

.passwordSubmit:link, .passwordSubmit:visited, .passwordSubmit:hover, .passwordSubmit:active {
  color: white;
}

.passwordSubmit:hover {
  transition: background-color 0.4s ease;
  background-color: #338acc;
  cursor: pointer;
}

#oldPass, #newPass, #newPass2 {
  text-align: left;
  padding-left: 10px;
  font-size: 1.1em;
  border-radius: 5px;
  font-size: 14pt;
  font-family: 'Catamaran', sans-serif;
}

.passwordForm input[type=text], .passwordForm input[type=password] {
  width: 100%;
  margin-bottom: 20px;
  border: 1px; 
}

#donateContainer{
  padding-top: 50px;
}

#donateHeader {
  letter-spacing: 2px;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
  width: 300px;
  color: white;
}

#donateHeader p{
  color: grey;
  letter-spacing: 0px;
  font-family: 'Catamaran', sans-serif;
  font-size: 14pt;
}

.donateSubmit{
  transition: background-color 0.4s ease;
  margin: 0 auto;
  margin-top: 60px;
  font-size: 1.2em;
  width: 80px;
  background-color: #ffcc53 ;
  border-radius: 5px;
  border: 0;
  padding: 3px 0px;
  padding-top: 5px;
  color: black;
  text-decoration: none;
  margin-right: 20px;
  font-family: 'Roboto', sans-serif;
}

.donateSubmit:hover {
  transition: background-color 0.4s ease;
  background-color: #ffb506 ;
  cursor: pointer;
}

#moneyForm{
  font-family: "Arial";
  height: 300px;
  width: 500px;
  font-size: 1.2em;
}

#creditCards{
  width: 180px;
  padding-top: 15px;
}

#aboutInfo{
  margin: 0 auto;
  width: 50%;
  margin-top: 10em;
}

#aboutInfo h1{
  padding: 30px 0px;
  letter-spacing: 2px;
  font-family: 'Open Sans', sans-serif;
  font-size: 18pt;
  color: white;
  margin: 0;
}

#aboutInfo p{
  margin: 0 auto;
  font-family: 'Catamaran', sans-serif;
  color: grey;
  font-size: 14pt;
}

#aboutInfo a{
  text-decoration: none;
  font-weight: bold;
  font-size: 13pt;
  color: white;
}

#stepsContainer{
  margin: 0 auto;
  width: 50%;
}

#steps ul{
  list-style-type: none;
  font-family: 'Catamaran', sans-serif;
  padding: 10px;
  padding-bottom: 20px;
  margin-top: 5em;
  margin-bottom: 0;
  display: flex;
  justify-content: space-between;
}

#steps li{
  display: inline-flex;
  padding: 10px;
  width: 10em;
  font-size: 18pt;
}

#steps strong{
  margin-right: 10px;
  font-size: 24pt;
  margin-top: -10px;
}

#step1{
  color: #55acee;
}

#step2{
  color: #00eca6;
}

#step3{
  color: whitesmoke;
}

#activityLog h1{
  letter-spacing: 2px;
  font-family: 'Open Sans', sans-serif;
  margin: 0 auto;
  width: 50%;
  padding: 30px 0px;
  text-indent: 30px;
  margin-top: 4em;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border: 1px solid #1b1b1b;
  box-shadow: inset 0 1px 0 rgba( 255, 255, 255, .15 ), 0 0 1.25em rgba( 0, 0, 0, .5 );
  font-size: 18pt;
  color: white;
}

#logs{
  margin: 0 auto;
  width: 50%;
  overflow-y: scroll;
  height: 400px;
}

#logs ul{
  list-style-type: none;
  font-family: 'Catamaran', sans-serif;
  background-color: whitesmoke;
  padding: 10px;
  padding-bottom: 20px;
  margin: 0;
}

#logs li{
  padding: 15px 0px;
  padding-left: 20px;
  border-bottom: 1px solid #b1b4bd;
}

#logs a{
  text-decoration: none;
  font-weight: bold;
  font-size: 13pt;
  color: #55acee;
}

#logs time{
  margin-right: 15px; 
}

/* Scrollbar styles */
#logs::-webkit-scrollbar-track{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

#logs::-webkit-scrollbar{
  width: 12px;
  background-color: #F5F5F5;
}

#logs::-webkit-scrollbar-thumb{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #555;
}

#logs::-webkit-scrollbar-thumb:hover{
  transition: all 2s ease;
  background-color: #55acee;
}

#logFooter{
  margin: 0 auto;
  width: 50%;
  text-align: right;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  color:grey;
  font-size: 10pt;
}

#logFooter p{
  display: inline-flex;
}

#logFooter a{
  text-decoration: none;
  font-weight: bold;
  color: #55acee;
}