html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background: #303030;
}

#logo {
    height: 40px;
    width: 40px;
    padding-left: 35px; 
    padding-top: 5px;
    float:left;
    border-radius: 8px;
}

nav {
    position: absolute;
    width: 100%;
    height: 60px;
    background: linear-gradient(#444, #222);
    border-bottom: 1px solid #1b1b1b;
    box-shadow: inset 0 1px 0 rgba( 255, 255, 255, .15 ), 0 0 1.25em rgba( 0, 0, 0, .2 );
    z-index: 1;
}

nav:nth-child(1) {
    padding-left: 25px;
}

#title{
    transition: 0.5s ease;
	margin: 0;
	padding: 0;
	letter-spacing: 2px;
	padding-top: 10px;
	padding-left: 20px;
	color: white;
    font-size: 2em;
	float: left;
}

#title:hover{
  transition: color 0.4s ease;
  color: #00eca6;
}

.navlink {
    transition: 0.5s ease;
    padding: 5px;
    padding-top: 15px;
    padding-right: 20px;
    color: white;
    font-size: 1.3em;
    float: right;
}

.navlink a, .navlink a:link, .navlink a:visited, .navlink a:hover, .navlink a:active {
    transition: 0.5s ease;
    color: white;
    text-decoration: none;
    padding: 5px;
}

.navlink a:hover {
    color: #00eca6;
    transition: 0.5s ease;
}

.featherForm {
    height: 45px;
    width: 690px;
    margin-top:60px;
    padding: 0px;
    padding-top:15px;
    padding-left:15px;
    background-color: #222;
    border-bottom-right-radius: 20px;
    position: absolute;
    z-index: 1;
}

.featherForm label {
    display: inline-block;
    width: 70px;
    height: 30px;
    margin-left: 30px;
    font-size: 1.2em;
    float: left;
    color: white;vertical-align: middle;
    line-height: 30px;  
}

.featherForm input[type=text] {
    float:left;
    height: 30px;
    border-radius: 5px;
    padding: 0px 10px;
}

.makeFeatherSubmit {
    transition: background-color 0.4s ease;
    width: 60px;
    height: 30px;
    display: inline;
    background-color: #55acee;
    border: 0;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

.makeFeatherSubmit:link, .makeFeatherSubmit:visited, .makeFeatherSubmit:hover, .makeFeatherSubmit:active {
    color: white;
}

.makeFeatherSubmit:hover {
    transition: background-color 0.4s ease;
    background-color: #338acc;
    cursor: pointer;
}

.mainForm {
    height: 300px;
    width: 300px;
    margin: 0 auto;
    padding-top: 350px;
    font-size: 1.2em;
    color: white;
}

.mainForm h3 {
    text-align: left;
    font-family: "Arial";
}

.mainForm input[type=text]{
    width: 100%;
    margin-bottom: 15px;
}

.formSubmit {
    transition: background-color 0.4s ease;
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: 14px;
    font-size: 1.2em;
    width: 100%;
    background-color: #55acee;
    border-radius: 5px;
    border: 0;
    padding: 3px 0px;
    color: white;
    text-decoration: none;
}

.formSubmit:link, .formSubmit:visited, .formSubmit:hover, .formSubmit:active {
    color: white;
}

.formSubmit:hover {
    transition: background-color 0.4s ease;
    background-color: #338acc;
}

#user, #pass, #pass2 {
    text-align: left;
    padding-left: 10px;
    font-size: 1.1em;
    border-radius: 5px;
}

#user:focus, #pass:focus, #pass2:focus {
    outline: none;
    box-shadow: 0px 0px 1px 1px #55acee;
}

#errorContainer{
    display:none;
    top: 250px;
    width: 250px;
    height: 650px;
    position: absolute;
    z-index: 200;
    right: 0px;
    overflow: hidden;
}

#errorContainer h3 {
    width: 200px;
    position: absolute;
    top: 0px;
    left: 20px;
}

#speech {
    height: 120px;
    width: 250px;
    z-index:300;
}

#errorMessage {
    font-size: 1.2em;
    font-weight: bold;
    color: red;
    font-style: italic;
}

#errorImage {
    z-index: 225;
    margin-top: -20px;
    margin-left: 135px;
    height: 450px;
    width: 300px;
    -ms-transform: rotate(330deg);
    -webkit-transform: rotate(330deg); 
    transform: rotate(330deg);
}

#featherlist {
    width: 100%;
    margin-top: 10em;
    margin-bottom:2em;
    text-align: center;
    font-family: "Arial";
}

.feather {
    width:100%;
    max-width: 360px;
    margin: 1%;
    border: 1px solid #c0bfbf;
    border-radius: 4px;
    background-color: #f8f8f8;
    padding: 10px;
    padding-bottom: 0px;
    min-height:60px;
    overflow: hidden;
    display: inline-block;
  	box-shadow: inset 0 1px 0 rgba( 255, 255, 255, .15 ), 0 0 1.25em rgba( 0, 0, 0, .9 );
}

img.featherFace {
    height: 40%;
    max-height: 300px;
    object-fit: cover;
    object-position: center;
    width: 100%;
}

h3.emptyFeather {
    width: 400px;
    font-size: 1.5em;
    margin: 0 auto;
    text-align: center;
    margin-top: 18px;
}

h3.featherName {
    float: left;
    width: 100px;
    margin-top: 0px;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: left;
    font-size: 1.5em;
}

img.favIcon {
    float: right;
    width: 40px;
    margin-top: 0px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 1.5em;
}

.colors ul li {
    flex: 1;
    padding: 0.5em;
    text-align: center;
    font-size: .8em
}

.colors p {
    font-size: 1.1em;
    font-weight: 700;
    margin: 0;
}

.colors ul {
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
    margin-bottom: 5px;
}

#deleteForm{
    text-align: right;
    background-color: none;
    margin-bottom: 0;
}

.deleteFeatherSubmit{
    height: 30px;
    background: none;
    border: 0;
    color: grey;
}

.deleteFeatherSubmit:hover{
    cursor: pointer;
}


#passwordContainer, #donateContainer{
  margin: 0 auto;
  width: 100%;
  max-width: 900px;
  display: flex;
  justify-content: space-between;
}

.passwordForm, #passwordInfo{
    font-family: "Arial";
    height: 300px;
    width: 300px;
    padding-top: 250px;
    font-size: 1.2em;
}

#passwordInfo {
  width: 500px;
}

.passwordForm h3{
    text-align: left;
    width: 100%;
    color: white;
}

#passwordInfo p{
    text-align: left;
    width: 100%;
    color: grey;
    padding-top: 50px;
}

.passwordSubmit {
    transition: background-color 0.4s ease;
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
    font-size: 1.2em;
    width: 100%;
    background-color: #55acee;
    border-radius: 5px;
    border: 0;
    padding: 3px 0px;
    color: white;
    text-decoration: none;
}

.passwordSubmit:link, .passwordSubmit:visited, .passwordSubmit:hover, .passwordSubmit:active {
    color: white;
}

.passwordSubmit:hover {
    transition: background-color 0.4s ease;
    background-color: #338acc;
    cursor: pointer;
}

#oldPass, #newPass, #newPass2 {
    text-align: left;
    padding-left: 10px;
    font-size: 1.1em;
    border-radius: 5px;
}

.passwordForm input[type=text] {
    width: 100%;
    margin-bottom: 20px;
}


#donateContainer{
	padding-top: 50px;
}

#donateHeader {
    font-family: "Arial";
    font-size: 1.2em;
	width: 300px;
    color: white;
}

#donateHeader p{
  color: grey;
}

.donateSubmit{
    transition: background-color 0.4s ease;
    margin: 0 auto;
    margin-top: 60px;
    font-size: 1.2em;
    width: 80px;
    background-color: #ffcc53 ;
    border-radius: 5px;
    border: 0;
    padding: 3px 0px;
    padding-top: 5px;
    color: black;
    text-decoration: none;
    margin-right: 20px;
}

.donateSubmit:hover {
    transition: background-color 0.4s ease;
    background-color: #ffb506 ;
    cursor: pointer;
}

#moneyForm{
	font-family: "Arial";
	height: 300px;
	width: 500px;
	font-size: 1.2em;
}

#creditCards{
	width: 180px;
	padding-top: 15px;
}