html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background: #303030;
}

#logo {
    height: 40px;
    width: 40px;
		padding-left: 35px; 
    padding-top: 5px;
    float:left;
    border-radius: 8px;
}

nav {
    position: absolute;
    width: 100%;
    height: 60px;
		background: linear-gradient(#444, #222);
		border-bottom: 1px solid #1b1b1b;
		box-shadow: inset 0 1px 0 rgba( 255, 255, 255, .15 ), 0 0 1.25em rgba( 0, 0, 0, .2 );
    z-index: 1;
}

nav:nth-child(1) {
    padding-left: 25px;
}

#title{
	margin: 0;
	padding: 0;
	letter-spacing: 2px;
	padding-top: 10px;
	padding-left: 20px;
	color: white;
  font-size: 2em;
	float: left;
}

.navlink {
    padding: 5px;
    padding-top: 15px;
    padding-right: 20px;
    color: white;
    font-size: 1.3em;
    float: right;
}

.navlink a, .navlink a:link, .navlink a:visited, .navlink a:hover, .navlink a:active {
    color: white;
    text-decoration: none;
    padding: 5px;
}

.navlink a:hover {
    color:gray;
    transition: 0.8s ease;
}

.featherForm {
    height: 45px;
    width: 950px;
    margin-top:60px;
    padding: 0px;
    padding-top:15px;
    padding-left:15px;
    background-color: #222;
    border-bottom-right-radius: 20px;
    position: absolute;
    z-index: 1;
}

.featherForm label {
    display: inline-block;
    width: 75px;
    margin-left: 10px;
    font-size: 1.2em;
    float: left;
    color: white;
}

.featherForm input[type=text] {
    float:left;
}

.makeFeatherSubmit {
    transition: background-color 0.4s ease;
    height: 30px;
    display: inline;
    background-color: #55acee;
    border: 0;
    border-radius: 5px;
    color: white;
    text-decoration: none;
}

.makeFeatherSubmit:link, .makeFeatherSubmit:visited, .makeFeatherSubmit:hover, .makeFeatherSubmit:active {
    color: white;
}

.makeFeatherSubmit:hover {
    transition: background-color 0.4s ease;
    background-color: #338acc;
}

.mainForm {
    height: 300px;
    width: 350px;
    margin: 0 auto;
    padding-top: 350px;
    font-size: 1.2em;
}

.mainForm h3 {
    text-align: center;
}

.mainForm label {
    display: inline-block;
    width: 100px;
    margin-right: 10px;
    text-align: right;
    font-size: 1.2em;
}

.formSubmit {
    transition: background-color 0.4s ease;
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: 14px;
    font-size: 1.2em;
    width: 100px;
    background-color: #55acee;
    border-radius: 5px;
    border: 0;
    padding: 3px 0px;
    color: white;
    text-decoration: none;
}

.formSubmit:link, .formSubmit:visited, .formSubmit:hover, .formSubmit:active {
    color: white;
}

.formSubmit:hover {
    transition: background-color 0.4s ease;
    background-color: #338acc;
}

#user, #pass, #pass2 {
    text-align: center;
    font-size: 1.1em;
    width: 180px;
    border-radius: 6px;
}

#user:focus, #pass:focus, #pass2:focus {
    outline: none;
    box-shadow: 0px 0px 1px 1px #55acee;
}

#errorContainer{
    display:none;
    top: 250px;
    width: 250px;
    height: 650px;
    position: absolute;
    z-index: 200;
    right: 0px;
    overflow: hidden;
}

#errorMessage h3 {
    width: 200px;
    position: absolute;
    top: 0px;
    left: 20px;
}

#speech {
    height: 120px;
    width: 250px;
    z-index:300;
}

#errorMessage {
    font-size: 1.2em;
    font-weight: bold;
    color: red;
    font-style: italic;
}

#featherList{
	position: relative;
  margin: 0 auto;
	width: 95%;
  font-family: Arial;
}

#errorImage {
    z-index: 225;
    margin-top: -20px;
    margin-left: 135px;
    height: 450px;
    width: 200px;
    -ms-transform: rotate(330deg);
    -webkit-transform: rotate(330deg); 
    transform: rotate(330deg);
}

#contentContainer {
    width: 100%;
    margin-top: 10em;
}

.feather {
    width:30%;
		min-width: 430px;
    margin: 0 auto;
    margin: 1%;
    border: 2px solid #c0bfbf;
    border-radius: 4px;
    background-color: #f8f8f8;
    padding: 10px;
    min-height:60px;
    overflow: hidden;
		display: inline-block;
    justify-content: space-between;
  	box-shadow: inset 0 1px 0 rgba( 255, 255, 255, .15 ), 0 0 1.25em rgba( 0, 0, 0, .9 );
}

img.featherFace {
    height: 40%;
		max-height: 300px;
    object-fit: cover;
    object-position: center;
    width: 100%;
}

h3.emptyFeather {
    width: 400px;
    font-size: 1.5em;
    margin: 0 auto;
    text-align: center;
    margin-top: 18px;
}

h3.featherName {
    float: left;
    width: 100px;
    margin-top: 10px;
    font-weight: bold;
    text-align: left;
    font-size: 1.5em;
}

h3.featherRarity {
    float: right;
    width: 100px;
  margin-top: 10px;
    font-weight: bold;
    font-size: 1.5em;
}

.feather:first-child {
    margin-top: 10px;
}

.feather:last-child {
    margin-bottom:10px;
}

.colors ul li {
    flex: 1;
    padding: 0.5em;
    text-align: center;
    font-size: .8em
}

.colors p {
    font-size: 1.2em;
    font-weight: 700;
    margin: 0;
}

.colors ul {
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
}

#deleteForm{
  text-align: right;
  background-color: none;
  margin-bottom: 0;
}

#deleteForm input{
    height: 30px;
    background: none;
    border: 0;
    color: grey;
}